@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FontStyle";
  src: url("./font/PK Maehongson-Medium.ttf") format("truetype");
  font-style: normal;
}

* {
  font-family: "FontStyle", sans-serif;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the container circular */
  background-color: #fff; /* Background color for the circle */
  color: #333; /* Color for the icon */
}

.user-info {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #fff;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
